---
layout: default
---


<div class="post-container">
  <a class="post-link" href="{{ page.url | relative_url }}">
    <h2 class="post-title">{{ page.title | escape }}</h2>
    <h4>{{ page.description | escape }}</h4>
  </a>
  <div class="post-meta">
    <div class="post-date"><i class="icon-calendar"></i>{{ page.date | date: date_format }}</div>
    {%- if page.categories.size > 0 -%}
    <ul class="post-categories">
      {%- for tag in page.categories -%}
      <li>{{ tag }}</li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  {%- if page.series -%}
  <div class="post-series" data-series-id="{{ page.series_id }}">
    <h3 class="post-series-title"><span class="post-series-title-label">Series.</span> {{ page.series | regex_replace: '^[A-z0-9]+-', '' }}</h3>
    <div>
    <ol reversed>
      {%- for post in site.posts -%}
        {%- if post.series_id == page.series_id -%}
          <li>
            {%- if post.url == page.url -%}
              <span class="post-series-view">{{ post.title }} - {{ post.date | date: date_format }}</span>
            {% else %}
              <a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: date_format }}</a>
            {%- endif -%}
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ol>
    </div>
  </div>
  {%- endif -%}
  {%- if page.leetcode -%}
  <div class="post-leetcode">
    <div class="logo">
      <div class="image">
        <img src="{{ "/assets/leetcode.png" | relative_url }}" alt="leetcode-logo" />
      </div>
    </div>
    <div class="detail">
      <table>
        <tbody>
          <tr>
            <th>
              Problem
            </th>
            <td class="name">
              <a target="_blank" href="https://leetcode.com/problems/{{ page.leetcode.id }}">{{ page.leetcode.name }}</a>
            </td>
          </tr>
          <tr>
            <th>
              Difficulty
            </th>
            <td class="difficulty">
              {% case page.leetcode.diff %}
                {% when 1 %}
                  <span class="easy">Easy</span>
                {% when 2 %}
                  <span class="medium">Medium</span>
                {% when 3 %}
                  <span class="hard">Hard</span>
              {% endcase %}
            </td>
          </tr>
          <tr>
            <th>
              Language
            </th>
            <td>
              {{ page.leetcode.language }}
            </td>
          </tr>
          {%- if page.leetcode.tc -%}
          <tr>
            <th>
              Time complexity
            </th>
            <td>
              {{ page.leetcode.tc }}
            </td>
          </tr>
          {%- endif -%}
          {%- if page.leetcode.sc -%}
          <tr>
            <th>
              Space complexity
            </th>
            <td>
              {{ page.leetcode.sc }}
            </td>
          </tr>
          {%- endif -%}
        </tbody>
      </table>
    </div>
  </div>
  {%- endif -%}
  <div class="post">
    {%- if page.leetcode -%}
    <h2>Problem,</h2>
    {%- endif -%}
    {{ content }}
  </div>
  <div class="post-tag">
  {%- for tag in page.tags -%}
  {%- if tag contains 'series-' -%}
  {% else %}
    <span class="tag_title">#{{ tag }}</span>
  {%- endif -%}
  {%- endfor -%}
  </div>
  <div class="comment" id="comment">
    <script type="text/javascript">
      let s = document.createElement( 'script' );
      s.setAttribute('src', 'https://utteranc.es/client.js');
      s.setAttribute('repo', 'decorus-kazuma/blog.decorus.io');
      s.setAttribute('theme', `github-${getCookie("theme")}`);
      s.setAttribute('crossorigin', '"anonymous"');
      s.setAttribute('async', '')
      s.setAttribute('issue-term', 'pathname');
      document.getElementById('comment').appendChild(s);
    </script>
  </div>
  {%- if site.plainwhite.disqus_shortname -%}
  <div id="disqus_thread" style="margin-top:25px"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ page.url | absolute_url }}';
      this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://{{ site.plainwhite.disqus_shortname }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
      powered by Disqus.</a></noscript>
  {%- endif -%}
</div>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script>
  document
    .querySelector('.post-container') // your selector for the post body
    .querySelectorAll('h1,h2,h3,h4,h5,h6')
    .forEach(function(heading) {
      if (heading.id) {
        heading.innerHTML =
          '<a class="h-tag" href="#' + heading.id + '">' + heading.innerText + '<\/a>';
      }
    });
</script>