---
layout: default
---
{{ content }}

{% assign posts = site.posts | group_by: "series_id" %}

{%- if posts.size > 0 -%}
<ul class="posts">
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">posts</h1>
    {% if site.plainwhite.search %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
      </div>
      <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
    </div>
    {% endif %}
  </li>
  {%- for post in posts -%}
  {%- if post.name == "" -%}
  {% else %}
  <li class="series-container">
    <div class="title">
      <h2>{{ post.items[0].series }}</h2>
    </div>
    <div class="block">
      <ol reversed>
        {%- for item in post.items -%}
        <li>
          <div>
            <a href="{{ item.url }}">{{ item.title }} - {{ item.date | date: date_format }}</a>
          </div>
          {%- if item.description -%}
          <div class="description">
            {{ item.description }}
          </div>
          {%- endif -%}
          {%- endfor -%}
        </li>
      </ol>
    </div>
    {%- endif -%}
    {%- endfor -%}
  </li>
</ul>
{%- endif -%}