---
layout: default
---
{{ content }}

{%- if site.posts.size > 0 -%}
  <ul class="posts">
<div>
  <li class="posts-labelgroup" id="posts-labelgroup">
    <h1 id="posts-label">posts</h1>
    {% if site.plainwhite.search %}
    <div class="search-container">
      <div class="search-section">
        <i class="icon-search"></i>
        <input type="text" name="search" id="searchbar" autocomplete="off" aria-label="search in posts">
      </div>
      <div class="search-results" id="search-results" data-placeholder="No Results" style="display: none;"></div>
    </div>
    {% endif %}
  </li>
  <div class="tags-expo">
    <div class="tags-expo-list">
      {% for tag in site.tags %}
      {%- if tag[0] contains 'series-' -%}
      {% else %}
      <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
      {%- endif -%}
      {% endfor %}
    </div>
    <hr/>
    <div class="tags-expo-section">
      {% for tag in site.tags %}
      {%- if tag[0] contains 'series-' -%}
      {% else %}
      <h2 id="{{ tag[0] | slugify }}">{{ tag | first }}</h2>
      <ul class="tags-expo-posts">
        {% for post in tag[1] %}
          <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
            <li>
              {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }} -  {{ post.date | date: date_format }}
              </a>
            </li>
        </a>
        {% endfor %}
      </ul>

      {%- endif -%}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}